/*Author    : nursyam*/
/*Github    : https://github.com/AdminOshibase48*/
/*Facebook  : https://facebook.com/-*/
/*Instagram : https://instagram.com/nursyammmm._*/
/*Website   : https://https://webkitaberdua.netlify.app/*/

.kontener {
    display: none;
}
