/*Author    : nursyam*/
/*Github    : https://github.com/AdminOshibase48*/
/*Facebook  : https://facebook.com/-*/
/*Instagram : https://instagram.com/nursyammmmm._*/
/*Website   : https://https://webkitaberdua.netlify.app/*/

@media (min-width: 300px) and (max-width: 640px) {
    .ml1 {
        margin-top: 45%;
    }

    .kontener2 {
        padding: 10px;
        text-align: center;
        margin-top: 60%;
    }
}
